*{
    font-family: "Edu AU VIC WA NT Guides", cursive; 
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
body{

    background-color: white;
    font-family: sans-serif
    

}
.profile{
    width: 100%;

    padding-bottom: 80%;
        


    
}
img{
    width: 60%;
    height: 40%
    
  }
/*  Stylar sektionen för profilinformation */
.profile-info{
    width: 60%;
    height: 50vh;
    margin-left: 20%;
   
    overflow: scroll;
    

 font-family: "Edu AU VIC WA NT Guides", cursive;
}


.profile-info h1 {
     
    
    padding-right: 20%;

    padding-bottom: 5%;
     
}
.profile-info::-webkit-scrollbar {
    width: 0;
}

.arbetslivs{
    
    width: 100%;

    

    padding-bottom: 5%;
}
.arbetslivs::-webkit-scrollbar {
    width: 0;
}

#m1{
    width: 60%;
    height:40%;

    padding-bottom: 5%;
    
    
    
}

#m2{
    width: 60%;
    height: 40%;
    
    
    
    
}
@media only screen and (max-width:90px) {
    .profile-info {}
}

.arbetslivs h4{
    width: 60%;
    height:40%;
    margin-left: 20%;

    padding-bottom: 5%;
    

}
.arbetslivs ol{
    width: 60%;
    height:40%;

    padding-bottom: 5%;
}
#Studieerfarenhet::-webkit-scrollbar {
    width: 0;
}
#Studieerfarenhet h2{
    margin-bottom: 10%;
    padding-bottom: 2%;
    padding-top: 5%;
    margin-left: 20%;
    

}
#info{
    margin-left: 20%;  
}
#Studieerfarenhet ol{
    margin-bottom: 10%;
    padding-bottom: 2%;
    padding-top: 10%;
    margin-left: 20%;

}
#Studieerfarenhet h3{
    margin-bottom: 10%;
    padding-left: 2%;
    padding-top: 10%;
    margin-left: 20%;

}

header {
    background-color: #333; /* bakgrundsfärgen för header */
    color: #fff; 
    padding: 20px; 
    text-align: center; /* Centrerar texten i header */
}
nav ul { 
    list-style: none; 
    margin: 0; 
    padding: 0; 
}
nav ul li { /* Listaobjekt i navigationsmenyn */
    display: inline-block; /*  inline-block för att styra dem bredvid varandra */
    margin: 0 10px; 
}
nav a { 
    text-decoration: none; /* ta bort länker*/
    color: #fff; 
}
main {
    padding: 20px; 
}
section { /* Ett avsnitt i huvuddelen av innehållet */
    background-color: #fff; 
    padding: 20px; 
    margin-bottom: 20px; 
    border-radius: 5px; 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
}
img { /* Bild på sidan */
    max-width: 100%; 
    height: auto; 
    display: block; /* bilden blockerar sin container */
    margin: 0 auto; 
}
footer { /* Sidans fotnot */
    background-color: #333; 
    color: #fff; 
    text-align: center; 
    padding: 10px; 
    position: fixed; 
    bottom: 0; 
    width: 100%; /* Gör fotnoten lika bred som skärmen */
}
.social {
    color: rgb(77, 66, 225);
    font-size: 1.9cm;
    padding-right: 30px;
    margin-right: 10px;
    cursor: pointer;
    transition: 3s;
    display: inline-block;
    transition: 2s;
    margin-left: 50px;
}

.social Linkedin:hover {
    transform: rotate(360deg);
}


